<div class="address-card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.05));">
  <div class="address-card-description">
    <h2><%=address.first_name%> <%=address.last_name%> </h2>
    <ul class="list-unstyled">
      <li><%=address.street%></li>
      <li><%=address.zip_code%></li>
      <li><%=address.city%></li>
      <li><%=address.country_code%></li>
    </ul>
  </div>
  <%= link_to "Envoyer à cette addresse", order_path(session[:order_id], address_id:address.id), method: "put", class: "address-card-description-link" %>
</div>
