<div class="wrapper-footer1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <p id="footer-nl"><%= t('.about') %></p>
        <p id="footer-nl"><%= t('.presse') %></p>
        <p id="footer-nl"><%= t('.blog') %></p>
        <p id="footer-nl"><%= t('.terms') %></p>
        <p id="footer-nl"><%= t('.privacy') %></p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <p><a href=""><i class="fa fa-globe fa-2x icons"></i></a></p>
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube fa-2x icons"></i></a></li>
          <li><a href=""><i class="fa fa-instagram fa-2x icons"></i></a></li>
          <li><a href=""><i class="fa fa-facebook fa-2x icons"></i></a></li>
          <li><a href=""><i class="fa fa-twitter fa-2x icons"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <h3 id="footer-nl"><%= t('.nl_title') %></h3>
        <p id="footer-nl"><%= t('.nl_subtitle') %></p>
        <p>
          <form class="form-inline">
            <div class="form-group">
              <input type="text" name="email">
            </div>
          <button type="submit" class="btn btn-success"><%= t('.nl_button') %></button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container padder">
    <div class="col-md-5">
      <div class="col-md-6">
        <h5>About Us</h5>
        <ul>
          <li><a href="#">The team</a></li>
          <li><a href="#">Our concept</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Discover</h5>
        <ul>
          <li><a href="/help#faq">FAQ</a></li>
          <li><a href="/help#terms">Terms and conditions</a></li>
          <li><a href="/help#policy">Privacy policy</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-2"><a class="footer-logo" href="/">Juliette Lacroix</a></div>

    <div class="col-md-5 soc-lang-curr">
      <div class="follow row">
      <div class="col-md-12">
        <h5 class="pull-left">Follow us on</h5>
        <ul>
          <li class="facebook"><a target="_blank" href="https://www.facebook.com/whereismymat?_rdr=p">facebook</a></li>
          <li class="twitter"><a target="_blank" href="https://twitter.com/whereismymat">twitter</a></li>
          <li class="pinterest"><a target="_blank" href="https://www.pinterest.com/whereismymat/">pinterest</a></li>
          <li class="instagram"><a target="_blank" href="https://www.instagram.com/whereismymat/">instagram</a></li>
        </ul>
      </div>
      </div>

      <div class="lang-curr row">
      <div class="col-md-6">
        <label>Language</label>
        <select name="language" id="language">
      <option value="Français">Français</option>
      <option value="English">English</option></select>
      </div>
    </div>
    </div>
