<div class="wrapper-footer1">
  <div class="container">
    <div class="row">
      <div class="company col-xs-12 col-sm-4">
        <div class="col-xs-6 text-left">
          <p id="footer-nl"><strong><%= t('.about') %></strong></p>
          <p id="footer-nl"><%= t('.creator') %></p>
          <p id="footer-nl"><%= t('.discover') %></p>
          <p id="footer-nl"><%= t('.blog') %></p>
        </div>
        <div class="col-xs-6 text-left">
          <p id="footer-nl"><strong><%= t('.more') %></strong></p>
          <p id="footer-nl"><%= t('.terms') %></p>
          <p id="footer-nl"><%= t('.privacy') %></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="social col-xs-12">
          <ul class="list-inline">
            <li><a href=""><i class="fa fa-youtube fa-2x icons"></i></a></li>
            <li><a href=""><i class="fa fa-instagram fa-2x icons"></i></a></li>
            <li><a href=""><i class="fa fa-facebook fa-2x icons"></i></a></li>
            <li><a href=""><i class="fa fa-twitter fa-2x icons"></i></a></li>
          </ul>
        </div>
        <div class="dropdown col-xs-12">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Language
          <span class="caret"></span>
          </button>
         <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu3">
           <li><%=link_to("Français", root_path(:locale => 'fr'))%></li>
           <li><%=link_to("English", root_path(:locale => 'en'))%></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-left">
        <p id="footer-nl"><%= t('.nl_subtitle') %></p>
        <p>
          <form class="footer-form">
            <div class="form-group">
              <input type="text" name="email" class="hpsearch" placeholder="Votre adresse email">
            </div>
          <button type="submit" class="btn btn-success" ><%= t('.nl_button') %></button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
