<div class="wrapper-footer1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <p id="footer-nl"><%= t('.about') %></p>
        <p id="footer-nl"><%= t('.presse') %></p>
        <p id="footer-nl"><%= t('.blog') %></p>
        <p id="footer-nl"><%= t('.terms') %></p>
        <p id="footer-nl"><%= t('.privacy') %></p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <p><a href=""><i class="fa fa-globe fa-2x icons"></i></a></p>
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube fa-2x icons"></i></a></li>
          <li><a href=""><i class="fa fa-instagram fa-2x icons"></i></a></li>
          <li><a href=""><i class="fa fa-facebook fa-2x icons"></i></a></li>
          <li><a href=""><i class="fa fa-twitter fa-2x icons"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <h3 id="footer-nl"><%= t('.nl_title') %></h3>
        <p id="footer-nl"><%= t('.nl_subtitle') %></p>
        <p>
          <form class="form-inline">
            <div class="form-group">
              <input type="text" name="email">
            </div>
          <button type="submit" class="btn btn-success"><%= t('.nl_button') %></button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
