<div class="banner" id="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/9692/pexels-photo.jpeg');">
  <div>
    <h1><%= t('.title') %></h1>
    <div class="banner-invitation">
        <form>
          <div class="form-group">
            <input type="text" class="hpsearch" placeholder="<%= t('.invitation_text') %>" name="where">
          </div>
          <button type="submit" class="btn btn-activate btn-success"><%= t('.invitation_button') %></button>
        </form>
    </div>
    <div class="banner-experience">
      <h2><%= t('.cta_text') %></h2>
      <a href="#" id="down">
        <i class="fa fa-angle-down arrow"></i>
      </a>
    </div>
  </div>
</div>

<div class="wrapper-grey" id="experience">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Découvrez la 1ere collection aérienne</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-gold">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Apprenez et découvrez vos sens de manière interactive</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/7066/man-relax-couch-study.jpg">
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Juliette est là pour vous accompagner</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-gold">
  <div class="container">
    <div class="text-center">
      <h2>Ils parlent de nous</h2>
    </div>
    <div class="text-center">
      <%=image_tag('femme_sourire.jpg', :class => "avatar-large")%>
      <h4>Marie</h4>
      <p>"L'expérience de découverte est vraiment top, j'ai trouvé mon nouveau parfum préféré'"</p>
    </div>
  </div>
</div>

