
<!-- ############## Pour mettre de la vidéo> -->
<div>
<div class="container-video">
<%= video_tag("juliettelacroix1.mp4", poster: "juliettelacroix1.png", autobuffer: true, autoplay: true, :loop => true, :html_options => {class: "bgvid"})%>


    <div class="overlay">
      <h1><%= t('.title') %></h1>
      <h2><%= t('.subtitle') %></h2>
      <div class="banner-invitation">
      </div>


        <%if user_signed_in? %>
          <h4><%=t(".h2banner")%></h4>
          <div class="small-padded"></div>
          <%= link_to account_dashboard_path do %>
            <div class="btn btn-default", style="opacity:0.5;"><%= t('.dashboard') %></div>
          <% end %>
        <%elsif @invitation%>
          <h5><%=t(".nbinvitations")%> <%=@invitation_nb%> </h5>
          <div class="small-padded"></div>
          <%= simple_form_for @invited, as: "user", url: invitation_path("user"), method: :post, html: { class: 'form-inline home-form' } do |f| %>
          <% User.invite_key_fields.each do |field| -%>
            <%= f.input field, input_html: {class: "hpsearch"}, placeholder: I18n.t('.simple_form.placeholders.email'), label: false %>
          <% end -%>

          <%= f.button :submit, t("devise.invitations.new.submit_button") %>
        <% end %>
        <%else%>
          <h4><%= t(".no_more_invitation")%></h4>
          <form class="form-inline home-form">
            <div class="form-group">
              <input type="text" name="email" class="hpsearch", placeholder= "<%= t('.subscribe_newsletter') %>">
            </div>
          <button type="submit" class="btn btn-success"><%= t('.nl_button') %></button>
          </form>
        <%end%>
      <div class="overlay-bis banner-experience">
        <h2><%= t('.cta_text') %></h2>
        <a href="#experience" id="down">
          <i class="fa fa-angle-down arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="wrapper-grey" id="experience">
  <div class="container padded">
    <div class="row">
        <div class="hptitle"><h3 class="text-center section-title col-xs-12"><%= t('.title1') %></h3></div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center " src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <p class="section-par"><%= t('.par1') %></p>
        <p class="section-par"><%= t('.par1-2') %></p>
        <p class="text-center padded"><%= link_to t(".cta-par1"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-gold">
  <div class="container padded">
        <div class="hptitle"><h3 class="text-center section-title col-xs-12"><%= t('.title2') %></h3></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="section-par"><%= t('.par2') %></p>
        <p class="section-par"><%= t('.par2-2') %></p>
        <p class="section-par"><%= t('.par2-3') %></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/7066/man-relax-couch-study.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
        <div class="hptitle"><h3 class="text-center section-title col-xs-12"><%= t('.title3') %></h3></div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <p class="section-par"><%= t('.par3') %></p>
        <p class="section-par"><%= t('.par3-2') %></p>
        <p class="text-center padded"><%= link_to t(".cta-par3"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-gold">
  <div class="container">
    <div class="text-center">
      <div class="hptitle">
      <h3><%= t('.testimony') %></h3>
      </div>
    </div>
    <!-- <div id="owl-hp" class="owl-carousel owl-theme col-xs-12 col-sm-6">
      <div class="item"><h1>1</h1></div>
      <div class="item"><h1>2</h1></div>
      <div class="item"><h1>3</h1></div>
    </div> -->
    <div class="text-center">
      <%=image_tag('femme_sourire.jpg', :class => "avatar-large")%>
      <h4><%= t('.testimony-name') %></h4>
      <p>"<%= t('.testimony-desc') %>"</p>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
 <%= javascript_tag do %>
    window.sr = ScrollReveal();
    sr.reveal('.img-reveal', { reset: true});
    //window.scrollReveal = new scrollReveal();
  <% end %>
<% end %>
