
<!-- ############## Pour mettre de la vidéo> -->
<div>
<div class="container-video">
<%= video_tag("juliettelacroix1.mp4", poster: "juliettelacroix1.png", autobuffer: true, autoplay: true, :loop => true, :html_options => {class: "bgvid"})%>


<!-- ############## Pour mettre une banner>
<!-- <div class="banner" id="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/9692/pexels-photo.jpeg');">
  <div> -->

    <div class="overlay">
      <h1><%= t('.title') %></h1>
      <h2><%= t('.subtitle') %></h2>
      <div class="banner-invitation">
      </div>

        <!-- <form> ### Pour n'accepter que les codes d'invitation #####
          <div class="form-group">
            <input type="text" class="hpsearch" placeholder="<%= t('.invitation_text') %>">
          </div>
          <button type="submit" class="btn btn-activate btn-success"><%= t('.invitation_button') %></button>
        </form>
        <%= link_to "Ask my invitation", new_invitation_path(User.new()) %> -->

        <%if user_signed_in? %>
          <h4><%=t(".h2banner")%></h4>
          <div class="small-padded"></div>
          <%= link_to account_dashboard_path do %>
            <div class="btn btn-default", style="opacity:0.5;">Accéder à votre espace</div>
          <% end %>
        <%elsif @invitation%>
          <h5><%=t(".nbinvitations")%> <%=@invitation_nb%> </h5>
          <div class="small-padded"></div>
          <%= simple_form_for @invited, as: "user", url: invitation_path("user"), method: :post, html: { class: 'form-inline home-form' } do |f| %>
          <% User.invite_key_fields.each do |field| -%>
            <%= f.input field, input_html: {class: "hpsearch"}, placeholder: I18n.t('.simple_form.placeholders.email'), label: false %>
          <% end -%>

          <%= f.button :submit, t("devise.invitations.new.submit_button") %>
        <% end %>
        <%else%>
          <h4><%= t(".no_more_invitation")%></h4>
          <form class="form-inline home-form">
            <div class="form-group">
              <input type="text" name="email" class="hpsearch", placeholder= "<%= t('.subscribe_newsletter') %>">
            </div>
          <button type="submit" class="btn btn-success"><%= t('.nl_button') %></button>
          </form>
        <%end%>
      <div class="overlay-bis banner-experience">
        <h2><%= t('.cta_text') %></h2>
        <a href="#experience" id="down">
          <i class="fa fa-angle-down arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="wrapper-grey" id="experience">
  <div class="container padded">
    <div class="row">
        <div class="hptitle"><h3 class="text-center section-title img-reveal col-xs-12">Découvrez la 1ere collection aérienne</h3></div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center " src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-gold">
  <div class="container padded">
        <div class="hptitle"><h3 class="text-center section-title img-reveal col-xs-12">Apprenez et découvrez vos sens de manière interactive</h3></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/7066/man-relax-couch-study.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
        <div class="hptitle"><h3 class="text-center section-title img-reveal col-xs-12">Juliette est là pour vous accompagner</h3></div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-gold">
  <div class="container">
    <div class="text-center">
      <div class="hptitle">
      <h3>Ils parlent de nous</h3>
      </div>
    </div>
    <!-- <div id="owl-hp" class="owl-carousel owl-theme col-xs-12 col-sm-6">
      <div class="item"><h1>1</h1></div>
      <div class="item"><h1>2</h1></div>
      <div class="item"><h1>3</h1></div>
    </div> -->
    <div class="text-center">
      <%=image_tag('femme_sourire.jpg', :class => "avatar-large")%>
      <h4>Marie</h4>
      <p>"L'expérience de découverte est vraiment top, j'ai trouvé mon nouveau parfum préféré'"</p>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
 <%= javascript_tag do %>
    window.sr = ScrollReveal();
    sr.reveal('.img-reveal', { reset: true});
    //window.scrollReveal = new scrollReveal();
  <% end %>
<% end %>
