
<!-- ############## Pour mettre de la vidéo> -->
<div class="wrapper-gold">
<div class="container">
<%=video_tag("juliettelacroix1bis.mp4", poster: "juliettelacroix1.png", :autobuffer => true,      :autoplay => true, :loop => true, :html_options => {class: "bgvid video"})%>
        <source src="video/Motion.mp4" type="video/mp4" />
    </video>

<!-- ############## Pour mettre une banner>
<!-- <div class="banner" id="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/9692/pexels-photo.jpeg');">
  <div> -->

    <div class="overlay col-xs-12 col-sm-6">
    <h1><%= t('.title') %></h1>
    <h2><%= t('.subtitle') %></h2>
    <div class="banner-invitation">
    </div>

        <!-- <form>
          <div class="form-group">
            <input type="text" class="hpsearch" placeholder="<%= t('.invitation_text') %>">
          </div>
          <button type="submit" class="btn btn-activate btn-success"><%= t('.invitation_button') %></button>
        </form>
        <%= link_to "Ask my invitation", new_invitation_path(User.new()) %> -->

        <%if user_signed_in? %>
          <h4><%=t(".h2banner")%></h4>
          <div class="small-padded"></div>
          <%= link_to account_dashboard_path do %>
            <div class="btn btn-default", style="opacity:0.5;">Accéder à votre espace</div>
          <% end %>
        <%elsif @invitation%>
          <h4><%=t(".nbinvitations")%> <%=@invitation_nb%> </h4>
          <div class="small-padded"></div>
          <%= simple_form_for @invited, as: "user", url: invitation_path("user"), method: :post, html: { class: 'form-inline home-form' } do |f| %>
          <% User.invite_key_fields.each do |field| -%>
            <%= f.input field, input_html: {class: "hpsearch"}, placeholder: 'Type your email', label: false %>
          <% end -%>

          <%= f.button :submit, t("devise.invitations.new.submit_button") %>
        <% end %>
        <%else%>
          <h2><%= t(".no_more_invitation")%></h2>
          <h3><%= t(".subscribe_newsletter")%></h3>
          <form class="form-inline">
            <div class="form-group">
              <input type="text" name="email">
            </div>
          <button type="submit" class="btn btn-success"><%= t('.nl_button') %></button>
          </form>
        <%end%>
    </div>
    <div class="overlay-bis banner-experience col-xs-12">
      <h2><%= t('.cta_text') %></h2>
      <a href="#experience" id="down">
        <i class="fa fa-angle-down arrow"></i>
      </a>
    </div>
  </div>
</div>
</div>

<div class="wrapper-grey" id="experience">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Découvrez la 1ere collection aérienne</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-gold">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Apprenez et découvrez vos sens de manière interactive</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/7066/man-relax-couch-study.jpg">
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Juliette est là pour vous accompagner</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-gold">
  <div class="container">
    <div class="text-center">
      <h2>Ils parlent de nous</h2>
    </div>
    <div class="text-center">
      <%=image_tag('femme_sourire.jpg', :class => "avatar-large")%>
      <h4>Marie</h4>
      <p>"L'expérience de découverte est vraiment top, j'ai trouvé mon nouveau parfum préféré'"</p>
    </div>
  </div>
</div>

