<div class="container text-left">
  <div class="row">
    <h3><%= t('.hello', name:@user.first_name) %></h3>
      <p><%= t('.introduction')%></p>
    <div class="text-dashboard col-xs-12 col-sm-6">
      <div class="video col-xs-12">
        <iframe src="https://player.vimeo.com/video/90947998?color=B39A6A&title=0&byline=0&portrait=0"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="margin-top:20px;"></iframe>
      </div>
      <p><%= t('.method')%></p>
    </div>
  </div>
</div>


<!-- <div class="container text-center" id="samples">
  <h2><%=t('.sample_test')%></h2>
  <div class="perfume-circle padded">
    <div class="col-xs-12">
      <div id="perfume1"><%= render 'shared/perfume_pic' %></div>
      <div id="perfume2"><%= render 'shared/perfume_pic' %></div>
      <div id="perfume3"><%= render 'shared/perfume_pic' %></div>
      <div id="perfume4"><%= render 'shared/perfume_pic' %></div>
      <div id="perfume5"><%= render 'shared/perfume_pic' %></div>
      <div class="padded"></div>

    </div>
  </div> -->
<!--   <ul class="list-unstyled">
    <% @perfumes.each do |perfume| %>
    <li><h3><%=perfume.name%></h3></li>
    <li><%=perfume.description%></li>
    <%= link_to "Testez ce parfum", account_perfume_path(perfume), class: "navbar-wagon-item navbar-wagon-button btn" %></p>
    <%end%>
  </ul>
  <h3><%=link_to t('.all_my_kits'), ""%></h3>
</div>
<div class="padded"></div> -->

<div class="container">
  <div class="row">
    <% @perfumes.each do |perfume| %>
      <h3 class="col-xs-12" id="title-bar"><%=perfume.name%></h3>
    <div class="perfume-card">
      <div class="image col-xs-12 col-sm-3">
      <img src="../app/assets/images/perfume.jpg">
      </div>
      <div class="description col-xs-12 col-sm-6">
        <div class="review">

          <div id="star"><p>Grade 1: <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p></div> |

          <div id="star"><p>Grade 2: <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p></div> |

          <div id="star"><p>Grade 3: <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p></div>

        </div>
        <div class="abstract">
        <%=perfume.description%>
        </div>
      </div>
      <div class="kit col-xs-12 col-sm-3">
        <div class="kit-status"><i class="fa fa-square-o"></i>
        <%= link_to "Tester ce parfum", account_perfume_path(perfume), :id => "link-dashboard1" %>
        </div>
        <div class="buybtn"><i class="fa fa-shopping-cart"></i>
        <%= link_to "Acheter", account_orders_path(perfume), :id => "link-dashboard2"%>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>

