<div class="container text-center">
  <h1><%= t('.hello', name:@user.first_name) %></h1>
  <h3><%= t('.introduction')%></h3>
  <h3><%= t('.method')%></h3>
  <iframe src="https://player.vimeo.com/video/90947998?color=B39A6A&title=0&byline=0&portrait=0" width="962" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="margin-top:20px;"></iframe>
  <p><a href="https://vimeo.com/90947998">Juliette's introduction to perfume</a> from <a href="https://vimeo.com/trendmodelsmgmt">Juliette Lacroix</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

</div>
<div class="padded"></div>
<div class="container text-center" id="samples">
  <h2><%=t('.sample_test')%></h2>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/perfume_pic' %>
    </div>
  </div>
  <ul class="list-unstyled">
    <% @perfumes.each do |perfume| %>
    <li><h3><%=perfume.name%></h3></li>
    <li><%=perfume.description%></li>
    <%= link_to "Testez ce parfum", account_perfume_path(perfume), class: "navbar-wagon-item navbar-wagon-button btn" %></p>
    <%end%>
  </ul>
  <h3><%=link_to t('.all_my_kits'), ""%></h3>
</div>
<div class="padded"></div>




