<h1 class="text-center"><%= t 'devise.invitations.edit.header' %></h1>
<h2 class="text-center"><%= t 'devise.invitations.edit.subheader' %></h2>
<div class="small-padded"></div>
<div class="wrapper-gold">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center " src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="section-list">
          <p>5 testeurs pour découvrir tous les parfums de la gamme aux multiples personnalités.</p>
          <p>Une découverte personnalisée pour apprendre sur chaque parfum et trouvez celui qui vous correspond.</p>
          <p>Votre parfum exclusif disponible en un clic, livré chez vous dans son coffret et avec sa recharge mobile.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-grey">
  <div class="container padded">

    <h2 class= "text-center"><%= t 'devise.invitations.edit.order' %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <%= form_tag invitation_path(:user), method: :put do %>
          <%= hidden_field_tag 'user[invitation_token]', nil %>
          <%= hidden_field_tag 'user[invitation_accepted_at]', Time.now %>
          <%= hidden_field_tag 'user[invitation_limit]', 0 %>
          <%= hidden_field_tag 'user[email]', nil %>
          <span class="input input--haruki">
            <%= text_field_tag 'user[first_name]', nil, class: "input__field input__field--haruki"  %>
            <%= label_tag 'user[first_name]', class: "input__label input__label--haruki" do %>
              <span class="input__label-content input__label-content--haruki">
                <%= t("devise.invitations.edit.first_name") %>
              </span>
            <% end %>
          </span>

          <span class="input input--haruki">
            <%= text_field_tag 'user[last_name]', nil, class: "input__field input__field--haruki"  %>
            <%= label_tag 'user[last_name]', class: "input__label input__label--haruki" do %>
              <span class="input__label-content input__label-content--haruki">
                <%= t("devise.invitations.edit.last_name") %>
              </span>
            <% end %>
          </span>

          <p>Votre email est <strong><%=resource.email%></strong>. Vous pourrez le changer ultérieurement</p>
          <h3><%=t("devise.invitations.edit.delivery")%></h3>
          <%= fields_for :addresses, as: @addresses do |a| %>
            <span class="input input--haruki">
              <%= text_field_tag 'user[addresses_attributes][0][first_name]', nil, class: "input__field input__field--haruki"  %>
              <%= label_tag 'user[addresses_attributes][0][first_name]', class: "input__label input__label--haruki" do %>
                <span class="input__label-content input__label-content--haruki">
                  <%= t("devise.invitations.edit.first_name") %>
                </span>
              <% end %>
            </span>

            <span class="input input--haruki">
              <%= text_field_tag 'user[addresses_attributes][0][last_name]', nil, class: "input__field input__field--haruki"  %>
              <%= label_tag 'user[addresses_attributes][0][last_name]', class: "input__label input__label--haruki" do %>
                <span class="input__label-content input__label-content--haruki">
                  <%= t("devise.invitations.edit.last_name") %>
                </span>
              <% end %>
            </span>

            <span class="input input--haruki">
              <%= text_field_tag 'user[addresses_attributes][0][street]', nil, class: "input__field input__field--haruki"  %>
              <%= label_tag 'user[addresses_attributes][0][street]', class: "input__label input__label--haruki" do %>
                <span class="input__label-content input__label-content--haruki">
                  <%= t("devise.invitations.edit.street") %>
                </span>
              <% end %>
            </span>

            <span class="input input--haruki">
              <%= text_field_tag 'user[addresses_attributes][0][zip_code]', nil, class: "input__field input__field--haruki"  %>
              <%= label_tag 'user[addresses_attributes][0][zip_code]', class: "input__label input__label--haruki" do %>
                <span class="input__label-content input__label-content--haruki">
                  <%= t("devise.invitations.edit.zip_code") %>
                </span>
              <% end %>
            </span>

            <span class="input input--haruki">
              <%= text_field_tag 'user[addresses_attributes][0][city]', nil, class: "input__field input__field--haruki"  %>
              <%= label_tag 'user[addresses_attributes][0][city]', class: "input__label input__label--haruki" do %>
                <span class="input__label-content input__label-content--haruki">
                  <%= t("devise.invitations.edit.city") %>
                </span>
              <% end %>
            </span>
          <% end %>

          <h3><%=t("devise.invitations.edit.password")%></h3>
          <span class="input input--haruki">
              <%= password_field_tag 'user[password]', nil, class: "input__field input__field--haruki" %>
              <%= label_tag 'user[password]', class: "input__label input__label--haruki" do %>
                <span class="input__label-content input__label-content--haruki">
                  <%= t("devise.invitations.edit.password") %>
                </span>
              <% end %>
            </span>
             <span class="input input--haruki">
              <%= password_field_tag 'user[password_confirmation]', nil, class: "input__field input__field--haruki" %>
              <%= label_tag 'user[password_confirmation]', class: "input__label input__label--haruki" do %>
                <span class="input__label-content input__label-content--haruki">
                  <%= t("devise.invitations.edit.password_conf") %>
                </span>
              <% end %>
            </span>
          <div class="small-padded">
          <%= submit_tag t("devise.invitations.edit.submit_button"), class: 'btn btn-default'%>
          </div>
        <% end %>

      </div>
    </div>
  </div>
