<h1 class="text-center"><%= t 'devise.invitations.edit.header' %></h1>
<h2 class="text-center"><%= t 'devise.invitations.edit.subheader' %></h2>
<div class="small-padded"></div>
<div class="wrapper-gold">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center " src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="section-list">
          <p>5 testeurs pour découvrir tous les parfums de la gamme aux multiples personnalités.</p>
          <p>Une découverte personnalisée pour apprendre sur chaque parfum et trouvez celui qui vous correspond.</p>
          <p>Votre parfum exclusif disponible en un clic, livré chez vous dans son coffret et avec sa recharge mobile.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-grey">
  <div class="container padded">

    <h2 class= "text-center"><%= t 'devise.invitations.edit.order' %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <%=  simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
          <%= f.hidden_field :invitation_token %>
          <%= f.hidden_field :invitation_accepted_at, value: Time.now%>
          <%= f.hidden_field :invitation_limit, value: 0%>
          <h3><%=t("devise.invitations.edit.identity")%></h3>

          <div class="input input--haruki">
          <%= f.input :first_name, label: t("devise.invitations.edit.first_name"), label_html: { class: 'input__label input__label--haruki' }, input_html: { class: 'input__field input__field--haruki' }, placeholder_html: { class: 'input__label-content input__label-content--haruki' } %>
          </div>

          <%= f.input :last_name, label: false, placeholder: t("devise.invitations.edit.name") %>

          <%= f.hidden_field :email, label: false, placeholder: "email" %>
          <p>Votre email est <strong><%=resource.email%></strong>. Vous pourrez le changer ultérieurement</p>
          <h3><%=t("devise.invitations.edit.delivery")%></h3>
          <%= f.simple_fields_for :addresses, as: @addresses do |a| %>
            <%= a.input :first_name, label: false, placeholder: t("devise.invitations.edit.first_name_delivery") %>
            <%= a.input :last_name, label: false, placeholder: t("devise.invitations.edit.name_delivery") %>
            <%= a.input :street, label: false, placeholder: t("devise.invitations.edit.street") %>
            <%= a.input :zip_code, label: false, placeholder: t("devise.invitations.edit.zip_code") %>
            <%= a.input :city, label: false, placeholder: t("devise.invitations.edit.city") %>
          <% end %>

          <h3><%=t("devise.invitations.edit.password")%></h3>
          <%= f.input :password, label: false, placeholder: t("devise.invitations.edit.password") %>
          <%= f.input :password_confirmation, label: false, placeholder: t("devise.invitations.edit.password_conf") %>
          <div class="small-padded"></div>
          <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
        <% end %>

      </div>
    </div>
  </div>
</div>
