<h1 class="text-center"><%= t 'devise.invitations.edit.header' %></h1>
<h2 class="text-center"><%= t 'devise.invitations.edit.subheader' %></h2>
<div class="small-padded"></div>
<div class="wrapper-gold">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Apprenez et découvrez vos sens de manière interactive</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim. </p>
        <p class="text-center"><%= link_to t(".top_call_to_action", default: "Découvrez la collection"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="small-padded"></div>
        <img class="pic-home text-center" src="https://static.pexels.com/photos/7919/pexels-photo.jpg">
      </div>
    </div>
  </div>
</div>
<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Trouvez votre parfum</h3>
        <p class="section-par">Travaillés autour du musc, cette collection de 5 parfums aux facettes différentes sont uniques en leur genre Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim. </p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-gold">
  <div class="small-padded"></div>
  <div class="container padded">
    <h2 class= "text-center"><%= t 'devise.invitations.edit.order' %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3", id="first-purchase-form">
        <%=  simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
          <%= f.hidden_field :invitation_token %>
          <%= f.hidden_field :invitation_accepted_at, value: Time.now%>
          <%= f.hidden_field :invitation_limit, value: 0%>
          <h3><%=t("devise.invitations.edit.identity")%></h3>
          <%= f.input :first_name, label: false, placeholder: t("devise.invitations.edit.first_name") %>
          <%= f.input :last_name, label: false, placeholder: t("devise.invitations.edit.name") %>
          <%= f.hidden_field :email, label: false, placeholder: "email" %>
          <p>Votre email est <strong><%=resource.email%></strong>. Vous pourrez le changer ultérieurement</p>
          <h3><%=t("devise.invitations.edit.delivery")%></h3>
          <%= f.simple_fields_for :addresses, as: @addresses do |a| %>
            <%= a.input :first_name, label: false, placeholder: t("devise.invitations.edit.first_name_delivery") %>
            <%= a.input :last_name, label: false, placeholder: t("devise.invitations.edit.name_delivery") %>
            <%= a.input :street, label: false, placeholder: t("devise.invitations.edit.street") %>
            <%= a.input :zip_code, label: false, placeholder: t("devise.invitations.edit.zip_code") %>
            <%= a.input :city, label: false, placeholder: t("devise.invitations.edit.city") %>
          <% end %>
          <h3><%=t("devise.invitations.edit.password")%></h3>
          <%= f.input :password, label: false, placeholder: t("devise.invitations.edit.password") %>
          <%= f.input :password_confirmation, label: false, placeholder: t("devise.invitations.edit.password_conf") %>
          <div class="small-padded"></div>
          <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
        <% end %>
      </div>
    </div>
  </div>




